* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* common class */

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  background-color: #469165;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}
.btn-cta {
  background: none;
  padding: 12px 16px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}
/* main class */

/* header */

header {
  background-color: #ffffff;
  padding: 24px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

/* banner section */

#banner {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0;
}

.banner-container {
  text-align: center;
}

.early-access {
  align-items: center;
  padding: 10px 18px;
  background: #ffffff;
  border-radius: 1000px;
  border: none;
  font-size: 16px;
  color: #469165;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.early-access .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #469165;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.121);
  margin-right: 5px;
}

.banner-container h1 {
  font-size: 72px;
  color: #ffffff;
  font-weight: 900;
}
.banner-container .not-just {
  font-size: 72px;
  color: #30b868;
  font-weight: 900;
  display: block;
}
.banner-container p {
  font-size: 18px;
  color: #ffffff;
}
.banner-btn {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.banner-btn .cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
